.custom-prev-arrow {
    position: absolute;
    top: 50%;
    left: 15px;
    z-index: 50;
}

.custom-next-arrow {
    position: absolute;
    top: 50%;
    right: 15px;
    z-index: 50;
}

.gallery-slider {
    cursor: grab;
}

.gallery-loading {
    cursor: default;
}